body{
    text-align: center;
}

#inputs{
    margin: 15px;
    padding: 10px;
}

#container {
    width: 98%;
    margin: 1%
}

#table {
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width: 80%;
}